spring:
  datasource:
    url: jdbc:h2:mem:locadora
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8080

app:
  multa-diaria: 2.5
